# Python virtual environments
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# OS files
.DS_Store
.env
test_framework/audio_files/uncropped/
test_framework/audio_files/uncropped/
# Large test audio files - keep locally but don't track in Git
test_framework/audio_files/5min_versions/*.mp3
venv/
.venv/
test_framework/audio_files/30min_versions/*.mp3
