build==1.2.2.post1
click==8.2.1
Flask==3.1.1
librosa==0.11.0
numpy==2.2.6
openai-whisper==20250625
packaging==25.0
pip-tools==7.4.1
pyproject_hooks==1.2.0
setuptools==80.9.0
sounddevice==0.5.2
sympy==1.14.0
wheel==0.45.1
