{% extends "base.html" %}

{% block title %}Live Lecture Feedback{% endblock %}

{% block head %}
    <!-- Anything in here will fill the block in base.html-->
    <style>
    </style>
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <div class="button-row">
        <button id="startBtn" class="action-btn">Start Recording</button>
        <button id="pauseResumeBtn" class="action-btn"> Pause </button>
        <button id="resetBtn" class="action-btn">Reset</button>
        <button id="stopBtn" class="action-btn">Stop Recording</button>
    </div>
    <div id="transcript-box">Live transcript will appear here...</div>
    <div class="metrics-container">
        <div class="metric-box" id="wpm-box">
            <span class="metric-label" id="wpm-label">Words per Minute</span>
            <span class="metric-value" id="wpm-value">0</span>
        </div>
        <div class="metric-box" id="volume-box">
            <span class="metric-label" id="volume-label">Volume (dBFS)</span>
            <span class="metric-value" id="volume-value">0</span>
        </div>
        <div class="metric-box" id="pitch-box">
            <span class="metric-label" id="pitch-label">Pitch Variance (Hz)</span>
            <span class="metric-value" id="pitch-value">0</span>
        </div>
    </div>
    <div class="graphs-container">
        <div class="graph-box">
            <div class="graph-title">WPM / Time</div>
            <canvas id="wpmChart"></canvas>
        </div>
        <div class="graph-box">
            <div class="graph-title">Volume / Time</div>
            <canvas id="volumeChart"></canvas>
        </div>
        <div class="graph-box">
            <div class="graph-title">Pitch Variance / Time</div>
            <canvas id="pitchChart"></canvas>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block scripts %}
{% endblock %}